<a href="https://colab.research.google.com/github/ohjeonsuk/python-education/blob/main/L230911.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. mysql 접속하기

    mysql -u root -p

    mysql -u root -pzxc098

    mysql -u root testdb -p

#2. DB 보기

    show databases;

#3. DB 사용하기

    use testdb;

testdb = DB 이름

#4. 데이터베이스 생성

    CREATE SCHEMA `testdb` ;


    create database DB이름;

#5. 테이블생성

    CREATE TABLE `testdb`.`users` (`id` INT NOT NULL, PRIMARY KEY (`id`));

    create table users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255));

#6. 테이블 목록 보기

    show tables;

#7. 테이블 정보 보기

    describe users;

    desc users;

#8.데이터 넣기

    insert into users values('1', 'Evelyn');


    insert into `keos`.`users` (`id`, `name`) values ('3', 'Tupaki'); # ` : 따옴표가 아님

#9. 데이터 보기

    select * from users;

    select * from users where id=2;

#10. DB, Table 삭제와 비우기

    drop database DB이름

    drop table 테이블이름

    truncate table 테이블이름

#11. 현재 사용자 확인하기

    use mysql;

    select host, user form user;

#12. 사용자 만들기

    create user 'id'@'localhost' # 로컬에서만 접속 가능


    create user 'id'@'%' # 외부 접속 가능하게 해주는 host

#13. 권한 부여 하기

    grant all privileges on testdb.* to 'pmth'@'%'; # testdb 모든 권한 부여

    flush privileges;

1. 각자 계정 사용,  파일로 하기

2. testdb의 users 비우기 -> 이  결과 보여 주기

3. testdb의 users 삭제 -> 결과 보여 주기